@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
    box-sizing: border-box;

    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body{
	font-family: sans-serif;
	margin: 0;
	padding: 0;
	width: 100%;
}

@media only screen and (min-width: 100em){
	html{
		font-size: 1.5em;
	}
}

/* Navigation */

.hide-text {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.flex-img {
	display: block;
	width: 100%;
	margin: 0 auto;
}

header {
	height: 85px;
	width: 100%;
	position: fixed;
	background-color: #5E5866;
}

.logo {
	width: 5em;
	height: 5em;
	top: .2em;
	left: .5em;
	position: absolute;
	z-index: 9000;
	
}

.nav-btn,
.nav-btn:link,
.nav-btn:visited{
	z-index: 9999;
	display: block;
	right: 0;
	top: 0;
	position: absolute;
	height: 85px;
	width: 85px;
	background: url('../images/nav.png') no-repeat center center;
	background-size: 25px; 
	-webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.nav-btn:hover,
.nav-btn:focus,
.nav-btn:active{
}

.nav-top a:first-child {
	position: relative;
	top: 85px;
}

.nav-top a, 
.nav-top a:link,
.nav-top a:visited{
	display: block;
	text-align: center;
	padding: 0.4rem 0;
	background-color: rgba(94, 88, 102, 0.69);
	border-bottom: 1px solid #fff;
	border-top: 1px solid #fff;
	margin-top: -1px;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	text-decoration: none;
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
	z-index: 100;
}

.nav-top a:hover,
.nav-top a:focus,
.nav-top a:active{
}

/* Toggle */

.nav-top{
	display: none;

}

.nav-top[data-state="expanded"]{
	display: block;
}

@media only screen and (min-width: 35em) {
		
	.logo {
		width: 8em;
		height: 8em;
		top: .5em;
		left: .8em;
	}
	
	header {
		height: 35px;
	}

	.nav-btn,
	.nav-btn:link,
	.nav-btn:visited{
		display: none;
	}
	
	.nav-top{
		float: right;
		width: 100%;
		display: inline-block;
		overflow: auto;
		padding-right: 2em;
		background-color: #5E5866;
	}
	
	.nav ul {
		text-align: left;
		float: right;
	}
	
	.nav-top li {
		display: inline-block;	
		margin: 0 auto;
		position: relative;
	}
	
	.nav-top a, 
	.nav-top a:link,
	.nav-top a:visited {
		top: .75rem;
		background-color: transparent;
		padding-left: 20px;
		border: none;
	}

}

/* Content */

section {
	display: block;
	padding: 10em 5%;
}

.no-padding {
	padding: 0 0;
}

#welcome {
	background: url(../images/banner-portrait.jpg)  no-repeat center center fixed;
	background-color: transparent;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	height: 100vh;
}


.about-title {
	text-align: center;
	padding-bottom: .75em;
}

.info {
	text-transform: uppercase;
	font-weight: 600;
	text-align: center;
	color: #f5ae7d;
}

.about, p {
	line-height: 1.75em;
	color: #717171;
}

#skills {
	background-color: rgba(255, 239, 213, 0.4);
	text-align: center;
}

.skills-img {
	width: 12em;
	height: 12em;
	padding-bottom: 1.25em;
}

.title {
	text-align: center;
	text-transform: uppercase;
	font-size: 1.25em;
	font-weight: 600;
	color: #f5ae7d;
}

#contact {
	background-color: rgba(184, 220, 211, 0.73);
}

#portfolio-display {
	background-color: rgb(255, 255, 255);	
}


/* Portfolio Pages */

.portfolio-title {
	color: #B8DCD3;
}

.portfolio-des {
	color: #e6e6e6;
}

#portfolio-top-1 {
	background: url(../images/izze-2.jpg)  no-repeat center center fixed;
	background-color: transparent;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 80vh;
}

#portfolio-top-2 {
	background: url(../images/argotea-1.jpg)  no-repeat center center fixed;
	background-color: transparent;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 80vh;
}

#portfolio-top-3 {
	background: url(../images/fernie.jpg)  no-repeat center center fixed;
	background-color: transparent;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 80vh;
}

#portfolio-top-3 {
	background: url(../images/fernie.jpg)  no-repeat center center fixed;
	background-color: transparent;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 80vh;
}

#portfolio-top-4 {
	background: url(../images/mark-mcmorris-mag.jpg)  no-repeat center center fixed;
	background-color: transparent;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 80vh;
}

#portfolio-top-5 {
	background: url(../images/starbucks-1.jpg)  no-repeat center center fixed;
	background-color: transparent;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 80vh;
}

#portfolio-top-6 {
	background: url(../images/fernie.jpg)  no-repeat center center fixed;
	background-color: transparent;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 80vh;
}

#portfolio-top-7 {
	background: url(../images/fernie.jpg)  no-repeat center center fixed;
	background-color: transparent;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 80vh;
}


.portfolio-gutter {
	padding-bottom: 2em;
}

#portfolio-middle {
	background-color: rgba(94, 88, 102, 0.71);
		padding: 10em 5%;
}

#portfolio-bottom {
	background-color: #DFD3C0;
}

.portfolio-info {
	padding-top: 2em;
}

.portfolio-3 {
	
}

.social-media {
	text-align: center;
	width: 100%;
}

/* Contact Pages */

.contact-info {
	text-align: center;
	width: 100%;
	line-height: .3em;
}

.c-info {
	line-height: .5em;
	text-align: center;
}

.button {
	width: 100%;
	color: #AFAFAF;
   background-color: #FFF;
	display: block;
	font-family:'Open Sans', sans-serif;
  text-decoration: none;
  text-align: center;
  margin: 0 auto;
	font-weight: 600;
	font-size: 15px;
	max-width: 200px;
	margin: 0px auto;
	text-transform: uppercase;
	padding: 22px 15px 15px;
	letter-spacing: 2px;
	border-radius: 40px;
	
	-webkit-transition: color .15s ease-in-out, border-color .15s ease-in-out, background-color .15s ease-in-out;
       -moz-transition: color .15s ease-in-out, border-color .15s ease-in-out, background-color .15s ease-in-out;
         -o-transition: color .15s ease-in-out, border-color .15s ease-in-out, background-color .15s ease-in-out;
        -ms-transition: color .15s ease-in-out, border-color .15s ease-in-out, background-color .15s ease-in-out;
            transition: color .15s ease-in-out, border-color .15s ease-in-out, background-color .15s ease-in-out;
}

a.button:hover {
	color: #fff;
	border-color: #AFAFAF;
	background: #f5ae7d;
	text-decoration: none;
}



.icon {
	width: 4em;
	height: 4em;
	margin: 1%;
	box-shadow:rgba(255,255,255,1);
  transition: background 0.3s, color 0.3s; 
	padding: .95em;
	border-radius: 100px;
}

.icon:hover {
		background: #F5BB93;
    color: #64bb5d;
		border-radius: 100px;
}

/*footer*/

